{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    TradeTracker - add new trade
{% endblock title %}

{% block jumbotron_content %}
    <h3>We'll be editing an existing trade here {{ playid }}</h3>
{% endblock jumbotron_content %}

{% block app_content %}
    <script src="{{url_for('static', filename='addTrade.js')}}"></script>

    {% include 'subTradeForm.html' %}

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
{% endblock app_content %}