{% extends 'base.html' %}

{% block title %}
    TradeTracker - list of trades
{% endblock title %}

{% block jumbotron_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>This is a list of all the trades...</h2>
{% endblock jumbotron_content %}

{% block app_content %}
    <script src="{{url_for('static', filename='index.js')}}"></script>

    <ul class="nav nav-pills" style="padding-bottom: 30px;">
        <li id="filterButtonAll" role="presentation" class="active" onclick="filterAllTrades()"><a href="#">All</a></li>
        <li id="filterButtonOpen" role="presentation" onclick="filterOpenTrades()"><a href="#">Open</a></li>
        <li id="filterButtonWins" role="presentation" onclick="filterWinningTrades()"><a href="#">Wins</a></li>
        <li id="filterButtonLosses" role="presentation" onclick="filterLosingTrades()"><a href="#">Losses</a></li>
    </ul>

    <table>
        <tr>
            <td style="padding-right: 10px;">
                <div class="btn-group" role="group" aria-label="..." style="padding-bottom: 30px;">
                    <button type="button" class="btn btn-primary" disabled>Filter by status:</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="btn-filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="report()">
                            <span id="btn-filter-text-content">All</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="setFilterValue('btn-filter-status', this.innerHTML)">All</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-status', this.innerHTML)">Open</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-status', this.innerHTML)">Wins</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-status', this.innerHTML)">Losses</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td style="padding-right: 10px;">
                <div class="btn-group" role="group" aria-label="..." style="padding-bottom: 30px;">
                    <button type="button" class="btn btn-primary" disabled>Filter by strategy:</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="btn-filter-strategy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="report()">
                            <span id="btn-filter-text-content">All</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="setFilterValue('btn-filter-strategy', this.innerHTML)">All</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-strategy', this.innerHTML)">Long Call</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-strategy', this.innerHTML)">Long Put</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-strategy', this.innerHTML)">Cash Secured Put</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td style="padding-right: 10px;">
                <div class="btn-group" role="group" aria-label="..." style="padding-bottom: 30px;">
                    <button type="button" class="btn btn-primary" disabled>Filter by ticker:</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="btn-filter-ticker" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="report()">
                            <span id="btn-filter-text-content">All</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="setFilterValue('btn-filter-ticker', this.innerHTML)">All</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-ticker', this.innerHTML)">MU</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-ticker', this.innerHTML)">NCLH</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-ticker', this.innerHTML)">SPCE</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td style="padding-right: 10px;">
                <div class="btn-group" role="group" aria-label="..." style="padding-bottom: 30px;">
                    <button type="button" class="btn btn-primary" disabled>Filter by year:</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="btn-filter-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onchange="report()">
                            <span id="btn-filter-text-content">All</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="setFilterValue('btn-filter-year', this.innerHTML)">All</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-year', this.innerHTML)">2019</a></li>
                            <li><a href="#" onclick="setFilterValue('btn-filter-year', this.innerHTML)">2020</a></li>
                        </ul>
                    </div>
                </div>
            </td>
            <td style="padding-right: 10px;">
                <div class="btn-group" role="group" aria-label="..." style="padding-bottom: 30px;">
                    <button type="button" class="btn btn-primary" onclick="resetFilters()">Reset filters</button>
                </div>
            </td>
        </tr>
    </table>

    {% for trade in trades %}
        {% if trade.status == "Open" %}
            <div class="panel panel-warning">        
        {% elif trade.pnl|float() >= "0.0"|float() %}
            <div class="panel panel-success">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
            <div id="panel-{{ loop.index0 }}-heading" class="panel-heading" onclick="toggleDisplay(this.id)">
                <h3 class="panel-title">
                    <table style="table-layout: fixed; width: 100%;">
                        <tr>
                            <td style="text-align: left;">{{ trade.ticker }} ({{ trade.playid }})</td>
                            {% if trade.no_contracts == 1 %}
                                <td style="text-align: right;">{{ trade.no_contracts }} contract</td>
                            {% else %}
                                <td style="text-align: right;">{{ trade.no_contracts }} contracts</td>
                            {% endif %}
                            <td style="text-align: right">{{ trade.strategy }}</td>
                            <td style="text-align: right">
                                <a href="{{ url_for('edit', id=trade.playid) }}"><button type="button" class="btn btn-primary">Edit</button></a>
                                {% if trade.status == "Closed" %}
                                    <button type="button" class="btn btn-warning" disabled>Roll</button>
                                {% else %}
                                    <a href="{{ url_for('roll', id=trade.playid) }}"><button type="button" class="btn btn-warning">Roll</button></a>
                                {% endif %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Confirm delete<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('delete', id=trade.playid) }}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </h3>
            </div>
            <div id="panel-{{ loop.index0 }}-body" class="panel-body" style="display: none;">
                <table style="table-layout: fixed; width: 100%;">
                    <tr>
                        <td style="text-align: left;">
                            <p>Trade opened on <span style="font-weight: bold;">{{ trade.open_date }}</span>, for <span style="font-weight: bold;">${{ trade.open_premium }}</span>
                                {% if trade.open_underlying %}
                                    with underlying at <span style="font-weight: bold;">${{ trade.open_underlying}}</span>
                                {% endif %}
                            </p>
                        </td>
                        <td style="text-align: right;">
                            {% if trade.status != "Open" %}
                            <p>Trade closed on <span style="font-weight: bold;">{{ trade.close_date }}</span>, for <span style="font-weight: bold;">${{ trade.close_premium }}</span>
                                {% if trade.close_underlying %}
                                    with underlying at <span style="font-weight: bold;">${{ trade.close_underlying }}</span>
                                {% endif %}
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="well well-sm">{{ trade.comment }}</div></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            {% if trade.status != "Open" %}
                            <p>Final total P&L is <span style="font-weight: bold;">${{ trade.pnl }}</span>, and daily P&L is <span style="font-weight: bold;">${{ trade.dailypnl }}</span></p>
                            {% endif %}
                        </td>
                        <td style="text-align: right;">
                        </td>
                    </tr>
            </table>
            <table class="table">
                {% for leg in trade.legs %}
                    <tr class="trade-item leg row">
                        <td class="trade-item leg field" style="padding-left: 60px;">{{ leg.opened }}</td>
                        <td class="trade-item leg field">{{ leg.size }}</td>
                        <td class="trade-item leg field">{{ leg.contract_type }}</td>
                        <td class="trade-item leg field">@ ${{ leg.strike }}</td>
                        <td class="trade-item leg field">to expire on {{ leg.expiry }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock app_content %}
