{% extends 'base.html' %}

{% block title %}
    TradeTracker - list of trades
{% endblock title %}

{% block jumbotron_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>This is a list of all the trades...</h2>
{% endblock jumbotron_content %}

{% block app_content %}
    <script src="{{url_for('static', filename='index.js')}}"></script>

    {% for trade in trades %}
        {% if trade.status == "Open" %}
            <div class="panel panel-warning">        
        {% elif trade.pnl|float() >= "0.0"|float() %}
            <div class="panel panel-success">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
            <div id="panel-{{ loop.index0 }}-heading" class="panel-heading" onclick="toggleDisplay(this.id)">
                <h3 class="panel-title">
                    <table style="table-layout: fixed; width: 100%;">
                        <tr>
                            <td style="text-align: left;">{{ trade.ticker }} ({{ trade.playid }})</td>
                            {% if trade.no_contracts == 1 %}
                                <td style="text-align: right;">{{ trade.no_contracts }} contract</td>
                            {% else %}
                                <td style="text-align: right;">{{ trade.no_contracts }} contracts</td>
                            {% endif %}
                            <td style="text-align: right">{{ trade.strategy }}</td>
                            <td style="text-align: right">
                                <a href="{{ url_for('edit', id=trade.playid) }}"><button type="button" class="btn btn-primary">Edit</button></a>
                                {% if trade.status == "Closed" %}
                                    <button type="button" class="btn btn-warning" disabled>Roll</button>
                                {% else %}
                                    <a href="{{ url_for('roll', id=trade.playid) }}"><button type="button" class="btn btn-warning">Roll</button></a>
                                {% endif %}
                                <a href="{{ url_for('delete', id=trade.playid) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    </table>
                </h3>
            </div>
            <div id="panel-{{ loop.index0 }}-body" class="panel-body" style="display: none;">
                <div class="trade-item body">
                    <p>Trade opened on {{ trade.open_date }}, for ${{ trade.open_premium }}
                    {% if trade.open_underlying %}
                        with underlying at ${{ trade.open_underlying}}
                    {% endif %}
                    </p>
                    {% if trade.status != "Open" %}
                        <p>Trade closed on {{ trade.close_date }}, for ${{ trade.close_premium }}
                        {% if trade.close_underlying %}
                            with underlying at ${{ trade.close_underlying }}
                        {% endif %}
                        </p>
                        <p>Final P&L is ${{ trade.pnl }}, and daily P&L is ${{ trade.dailypnl }}</p>
                    {% endif %}
                    <div class="well well-sm">{{ trade.comment }}</div>
                </div>
                <table class="table">
                {% for leg in trade.legs %}
                    <tr class="trade-item leg row">
                        <td class="trade-item leg field" style="padding-left: 60px;">{{ leg.opened }}</td>
                        <td class="trade-item leg field">{{ leg.size }}</td>
                        <td class="trade-item leg field">{{ leg.contract_type }}</td>
                        <td class="trade-item leg field">@ ${{ leg.strike }}</td>
                        <td class="trade-item leg field">to expire on {{ leg.expiry }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock app_content %}
