{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    TradeTracker - performance statistics
{% endblock title %}

{% block jumbotron_content %}
    <h3>Doing statistics</h3>
{% endblock jumbotron_content %}

{% block app_content %}
    <p>Total number of trades: {{ stats["countTotalTrades"] }}</p>
    <p>Open trades: {{ stats["countOpenTrades"] }}</p>
    <p>Closed trades: {{ stats["countClosedTrades"] }}</p>
    <p>Winning trades: {{ stats["countWinningTrades"] }}</p>
    <p>Losing trades: {{ stats["countLosingTrades"] }}</p>
    <p>Current total P/L: ${{ stats["pnlTotal"] }}</p>
    <p>Total gains: ${{ stats["pnlGains"] }}</p>
    <p>Total losses: ${{ stats["pnlLosses"] }}</p>
    <p>Current open credit: ${{ stats["openCredit"] }}</p>
    <p>Current open debit: ${{ stats["openDebit"] }}</p>
    <div class="figureCountsByStrat">
        <table>
            <tr>
                <td>{{ figureCountsByStrat | safe }}</td>
                <td>{{ figurePnlByStrategy | safe }}</td>
            </tr>
        </table>
    </div>
    <div class="figureCountsByTicker">
        <table>
            <tr>
                <td>{{ figureCountsByTicker | safe }}</td>
                <td>{{ figurePnlByTicker | safe }}</td>
            </tr>
        </table>
    </div>
{% endblock app_content %}